$meli-yellow: #FFE600;
$meli-dark: #000;
$meli-dark-gray: #333333;
$meli-medium-gray: #666666;
$meli-gray: #999999;
$meli-gray-2: #d4cfcf;
$meli-light-gray: #eeeeeece;
$meli-blue: #3483FA;
$meli-white: #FFF;

$spacing-8: 8px;
$spacing-16: 16px;
$spacing-32: 32px;
$spacing-48: 48px;
$spacing-64: 64px;

$search-bar-height: 52px;
$search-meli-icon-height: 32px;
$search-meli-icon-width: 44px;
$search-meli-icon-padding: .5rem 2rem;
$search-input-width: 30rem;
$search-input-height: 18px;
$search-input-margin: .5rem 0;
$search-input-padding: .3rem 0 .3rem .3rem;
$search-icon-height: 18px;
$search-icon-width: 18px;
$search-icon-margin: .5rem 0;
$search-icon-padding: .3rem;
$border-radius: 4px;